#pattern  filter=crypt diff=crypt merge=crypt
.ssh/id_ed25519  filter=crypt diff=crypt merge=crypt
config/Cursor/mcp.json  filter=crypt diff=crypt merge=crypt
config/commitgpt/config.toml  filter=crypt diff=crypt merge=crypt
.sensitive.shrc  filter=crypt diff=crypt merge=crypt
