.ssh/known_hosts.old
.ssh/known_hosts
.ssh/authorized_keys
.ssh/id_ed25519
**/__pycache__

.venv/

config/coc
config/dconf
config/memos.json
config/pulse
config/htop
config/neofetch
config/configstore
config/karabiner
config/.DS_Store
config/Google/
config/calibre/
config/cava/
config/commitgpt/
config/nautilus/
config/k9s/
config/helm/
config/gpicview/
