.ssh/known_hosts.old
.ssh/known_hosts
.ssh/authorized_keys
**/__pycache__

.venv/

config/coc
config/dconf
config/memos.json
config/pulse
config/htop
config/neofetch
config/configstore
config/karabiner
config/.DS_Store
config/Google/
config/calibre/
config/cava/
config/commitgpt/
config/nautilus/
config/k9s/
config/helm/
config/gpicview/
config/Calibre Library/
config/Code/
config/QtProject.conf
config/Thunar/
config/btop/
config/github-copilot/
config/glib-2.0/
config/glow/
config/go/
config/immich/
config/libreoffice/
config/mimeapps.list
config/obsidian/
config/okularrc
config/puddletag/
config/pypoetry/
config/racket/
config/ripgrep-all/
config/xfce4/
config/MusicBrainz/
config/gpt4all.io/
config/raycast/
config/zed/
