Host school
	HostName linux2.ce.hongik.ac.kr
	User B611062

Host ecl
	HostName 143.248.57.11
	User mjo97
	Port 61234

Host nas
	HostName 143.248.57.95
	User admin
	Port 61022

Host gpu
	HostName 143.248.56.91
	User sixtyfive

Host cluster
	HostName 143.248.56.148
	User sixtyfive

Host cs492
	HostName 192.249.19.253
	User root
	Port 4522
	PreferredAuthentications publickey
	IdentityFile ~/.dotfiles/CS492_key.pem
